@media only screen and (min-width: 1210px) {
  body,
  html {
    height: 100%;
    margin: 0%;
    background-color: #fdfefd;
    font-family: "Montserrat";
    scroll-behavior: smooth;
  }

  #bg-img {
    background-image: url("images/Portfolio.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
  }

  #navbar {
    overflow: hidden;
    background-color: #190126;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  #navbar a {
    float: left;
    display: block;
    color: #f0d5ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 180%;
  }

  #scrl-1 {
    position: absolute;
    top: 0%;
  }

  #scrl-2 {
    position: absolute;
    top: 90%;
  }

  #scrl-3 {
    position: absolute;
    top: 170%;
  }

  #scrl-4 {
    position: absolute;
    top: 270%;
  }

  #scrl-5 {
    position: absolute;
    top: 360%;
  }

  #drk-mde {
    float: right;
    padding-top: 4px;
    padding-right: 8px;
    transition-duration: 0.4s;
  }

  #lte-mde {
    display: none;
    float: right;
    padding-top: 4px;
    padding-right: 8px;
    transition-duration: 0.4s;
  }

  #pro-img {
    position: absolute;
    top: 15%;
    left: 10%;
    height: 65%;
    width: 32.5%;
  }

  #name {
    position: absolute;
    top: 13%;
    left: 50%;
    color: #f0d5ff;
    font-size: 350%;
  }

  #about {
    position: absolute;
    top: 30%;
    left: 50%;
    color: #f0d5ff;
    font-size: 180%;
  }

  #git {
    position: absolute;
    top: 85%;
    left: 8%;
  }

  #linkedin {
    position: absolute;
    top: 85%;
    left: 18%;
  }

  #insta {
    position: absolute;
    top: 85%;
    left: 28%;
  }

  #mail {
    position: absolute;
    top: 85%;
    left: 38%;
  }

  #qual-head {
    position: absolute;
    top: 100%;
    left: 38%;
    font-size: 350%;
    color: #77349b;
  }

  #edu-des {
    width: 1.5%;
    position: absolute;
    top: 130%;
    left: 30%;
  }

  #Xth {
    position: absolute;
    top: 160%;
    left: 10%;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
  }

  #XIIth {
    position: absolute;
    top: 140%;
    left: 35%;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
  }

  #clg {
    position: absolute;
    top: 120%;
    left: 8%;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
  }

  #rsme {
    position: absolute;
    top: 145%;
    left: 70%;
    background-color: #77349b;
    color: #f7e7ff;
    border: none;
    border-radius: 25px;
    padding: 1% 5%;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  #rsme:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  #rsme:active {
    background-color: #4c2063;
    box-shadow: 1 5px rgba(0, 0, 0, 0.19);
    transform: translateY(4px);
  }

  #skll-head {
    position: absolute;
    top: 175%;
    left: 45%;
    font-size: 350%;
    color: #77349b;
  }

  #lang {
    position: absolute;
    top: 195%;
    left: 15%;
    font-size: 220%;
    color: #77349b;
    font-weight: bold;
  }

  #lang-name {
    position: absolute;
    top: 197.5%;
    left: 45%;
    font-size: 170%;
    color: #190126;
    font-weight: bold;
  }

  #tool {
    position: absolute;
    top: 230%;
    left: 15%;
    font-size: 220%;
    color: #77349b;
    font-weight: bold;
  }

  #tool-name {
    position: absolute;
    top: 233.5%;
    left: 45%;
    font-size: 170%;
    color: #190126;
    font-weight: bold;
  }

  #pro-head {
    position: absolute;
    top: 275%;
    left: 40%;
    font-size: 350%;
    color: #77349b;
  }

  #swp {
    position: absolute;
    top: 290%;
    left: 10%;
    font-size: large;
  }

  #pro-disp {
    width: 70%;
    height: 70%;
    position: absolute;
    top: 295%;
    left: 15%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .proj {
    display: inline-block;
  }

  #pro1,
  #pro2,
  #pro3,
  #pro4,
  #pro5,
  #pro6 {
    position: relative;
    height: 50%;
    width: 50%;
    margin-top: 7%;
    transition: transform 0.2s;
  }

  #pro1:hover,
  #pro2:hover,
  #pro3:hover,
  #pro4:hover,
  #pro5:hover,
  #pro6:hover {
    transform: scale(1.3);
    z-index: 3;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  #hnd-head {
    line-height: 0%;
    position: absolute;
    top: 0%;
    left: 30%;
    font-size: large;
    color: #77349b;
    font-size: xx-large;
  }

  #hnd-det {
    position: absolute;
    top: 10%;
    left: 56%;
    font-size: large;
  }

  #voc-head {
    line-height: 0%;
    position: absolute;
    top: 0%;
    left: 135%;
    font-size: large;
    color: #77349b;
    font-size: xx-large;
  }

  #voc-det {
    position: absolute;
    top: 10%;
    left: 156%;
    font-size: large;
  }

  #dat-head {
    line-height: 0%;
    position: absolute;
    top: 0%;
    left: 240%;
    font-size: large;
    color: #77349b;
    font-size: xx-large;
  }

  #dat-det {
    position: absolute;
    top: 10%;
    left: 256%;
    font-size: large;
  }

  #and-det {
    position: absolute;
    top: 10%;
    left: 356%;
    font-size: large;
  }

  #and-head {
    line-height: 0%;
    position: absolute;
    top: 0%;
    left: 340%;
    font-size: large;
    color: #77349b;
    font-size: xx-large;
  }

  #web-det {
    position: absolute;
    top: 10%;
    left: 456%;
    font-size: large;
  }

  #web-head {
    line-height: 0%;
    position: absolute;
    top: 0%;
    left: 430%;
    font-size: large;
    color: #77349b;
    font-size: xx-large;
  }

  #hnd-git,
  #voc-git,
  #voc-dwn,
  #dat-git,
  #dat-dwn,
  #and-git,
  #web-git,
  #web-dwn {
    position: absolute;
    top: 80%;
    text-decoration: none;
    padding: 1% 1%;
    background-color: #77349b;
    color: #f0d5ff;
  }

  #hnd-git {
    left: 5%;
  }

  #voc-git {
    left: 105%;
  }

  #voc-dwn {
    left: 130%;
  }

  #dat-git {
    left: 205%;
  }

  #dat-dwn {
    left: 230%;
  }

  #and-git {
    left: 320%;
  }

  #web-git {
    left: 405%;
  }

  #web-dwn {
    left: 430%;
  }

  #wrk-ex {
    position: absolute;
    top: 365%;
    left: 12%;
    font-size: 350%;
    color: #77349b;
  }

  #ongc {
    position: absolute;
    top: 382%;
    left: 12%;
    font-size: 150%;
    color: #77349b;
    font-weight: bold;
  }

  #ongc-wrk {
    position: absolute;
    top: 400%;
    left: 12%;
    font-size: 125%;
    color: #190126;
  }

  #org {
    position: absolute;
    top: 438%;
    left: 12%;
    font-size: 150%;
    color: #77349b;
    font-weight: bold;
  }

  #org-wrk {
    position: absolute;
    top: 448%;
    left: 12%;
    font-size: 125%;
    color: #190126;
    height: 20%;
  }

  #cont-head {
    position: absolute;
    top: 365%;
    left: 65%;
    font-size: 350%;
    color: #77349b;
  }

  #cnt-frm {
    position: absolute;
    top: 387%;
    left: 65%;
  }

  #fnme,
  #yrmail,
  #message {
    width: 150%;
    padding: 7%;
    border: none;
    color: #77349b;
    background-color: #f0d5ff;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    resize: vertical;
  }

  #cnt-sbm {
    background-color: #77349b;
    color: #f7e7ff;
    margin-top: 5%;
    margin-left: 60%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: x-large;
    transition-duration: 0.4s;
  }

  #cnt-sbm:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  #cnt-sbme:active {
    background-color: #4c2063;
    box-shadow: 1 5px rgba(0, 0, 0, 0.19);
    transform: translateY(4px);
  }
}
