@media only screen and (min-width: 390px) {
  body,
  html {
    height: 100%;
    margin: 0%;
    background-color: #fdfefd;
    font-family: "Montserrat";
    scroll-behavior: smooth;
  }

  #bg-img {
    background-image: url("images/Portfolio.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
  }

  #navbar {
    overflow: hidden;
    background-color: #190126;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  #navbar a {
    float: left;
    display: block;
    color: #f0d5ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 220%;
  }

  #scrl-1 {
    position: absolute;
    top: 0%;
  }

  #scrl-2 {
    position: absolute;
    top: 97%;
  }

  #scrl-3 {
    position: absolute;
    top: 147%;
  }

  #scrl-4 {
    position: absolute;
    top: 202%;
  }

  #scrl-5 {
    position: absolute;
    top: 300%;
  }

  #drk-mde {
    float: right;
    padding-top: 12px;
    padding-right: 8px;
    transition-duration: 0.4s;
  }

  #lte-mde {
    display: none;
    float: right;
    padding-top: 12px;
    padding-right: 8px;
    transition-duration: 0.4s;
  }

  #pro-img {
    position: absolute;
    top: 15%;
    left: 20%;
    height: 30.25%;
    width: 60.5%;
  }

  #name {
    position: absolute;
    top: 6%;
    left: 20%;
    color: #f0d5ff;
    font-size: 420%;
  }

  #about {
    position: absolute;
    top: 50%;
    left: 12%;
    color: #f0d5ff;
    font-size: 257%;
  }

  #git {
    position: absolute;
    top: 90%;
    left: 28%;
  }

  #linkedin {
    position: absolute;
    top: 90%;
    left: 38%;
  }

  #insta {
    position: absolute;
    top: 90%;
    left: 48%;
  }

  #mail {
    position: absolute;
    top: 90%;
    left: 58%;
  }

  #qual-head {
    position: absolute;
    top: 100%;
    left: 30%;
    font-size: 380%;
    color: #77349b;
  }

  #edu-des {
    width: 3%;
    position: absolute;
    top: 110%;
    left: 50%;
  }

  #Xth {
    position: absolute;
    top: 125%;
    left: 12%;
    text-align: center;
    font-weight: bold;
    font-size: 180%;
  }

  #XIIth {
    position: absolute;
    top: 115%;
    left: 60%;
    text-align: center;
    font-weight: bold;
    font-size: 180%;
  }

  #clg {
    position: absolute;
    top: 107%;
    left: 12%;
    text-align: center;
    font-weight: bold;
    font-size: 180%;
  }

  #rsme {
    position: absolute;
    top: 140%;
    left: 35%;
    background-color: #77349b;
    color: #f7e7ff;
    border: none;
    border-radius: 25px;
    padding: 3% 7%;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: 250%;
  }

  #rsme:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  #rsme:active {
    background-color: #4c2063;
    box-shadow: 1 5px rgba(0, 0, 0, 0.19);
    transform: translateY(4px);
  }

  #skll-head {
    position: absolute;
    top: 150%;
    left: 45%;
    font-size: 380%;
    color: #77349b;
  }

  #lang {
    position: absolute;
    top: 160%;
    left: 12%;
    font-size: 250%;
    color: #77349b;
    font-weight: bold;
  }

  #lang-name {
    position: absolute;
    top: 160.75%;
    left: 45%;
    font-size: 210%;
    color: #190126;
    font-weight: bold;
  }

  #tool {
    position: absolute;
    top: 180%;
    left: 12%;
    font-size: 250%;
    color: #77349b;
    font-weight: bold;
  }

  #tool-name {
    position: absolute;
    top: 180.75%;
    left: 45%;
    font-size: 210%;
    color: #190126;
    font-weight: bold;
  }

  #pro-head {
    position: absolute;
    top: 205%;
    left: 40%;
    font-size: 380%;
    color: #77349b;
  }

  #swp {
    position: absolute;
    top: 212%;
    left: 19%;
    font-size: x-large;
  }

  #pro-disp {
    width: 70%;
    height: 60%;
    position: absolute;
    top: 215%;
    left: 15%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .proj {
    display: inline-block;
  }

  #pro1,
  #pro2,
  #pro3,
  #pro4,
  #pro5,
  #pro6 {
    position: relative;
    height: 50%;
    width: 90%;
    margin-top: 7%;
    margin-left: 5%;
    transition: transform 0.2s;
  }

  #pro1:hover,
  #pro2:hover,
  #pro3:hover,
  #pro4:hover,
  #pro5:hover,
  #pro6:hover {
    transform: scale(1.3);
    z-index: 3;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  #hnd-head {
    line-height: 0%;
    position: absolute;
    top: 0%;
    left: 25%;
    color: #77349b;
    font-size: 200%;
  }

  #hnd-det {
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 150%;
  }

  #voc-head {
    line-height: 0%;
    position: absolute;
    top: 0%;
    left: 140%;
    color: #77349b;
    font-size: 200%;
  }

  #voc-det {
    position: absolute;
    top: 35%;
    left: 110%;
    font-size: 150%;
  }

  #dat-head {
    line-height: 0%;
    position: absolute;
    top: 0%;
    left: 235%;
    color: #77349b;
    font-size: 200%;
  }

  #dat-det {
    position: absolute;
    top: 35%;
    left: 210%;
    font-size: 150%;
  }

  #and-det {
    position: absolute;
    top: 35%;
    left: 310%;
    font-size: 150%;
  }

  #and-head {
    line-height: 0%;
    position: absolute;
    top: 0%;
    left: 340%;
    color: #77349b;
    font-size: 200%;
  }

  #web-det {
    position: absolute;
    top: 35%;
    left: 410%;
    font-size: 150%;
  }

  #web-head {
    line-height: 0%;
    position: absolute;
    top: 0%;
    left: 430%;
    color: #77349b;
    font-size: 200%;
  }

  #hnd-git,
  #voc-git,
  #voc-dwn,
  #dat-git,
  #dat-dwn,
  #and-git,
  #web-git,
  #web-dwn {
    position: absolute;
    top: 90%;
    text-decoration: none;
    padding: 1% 1%;
    background-color: #77349b;
    color: #f0d5ff;
  }

  #hnd-git {
    left: 5%;
  }

  #voc-git {
    left: 105%;
  }

  #voc-dwn {
    left: 130%;
  }

  #dat-git {
    left: 205%;
  }

  #dat-dwn {
    left: 230%;
  }

  #and-git {
    left: 320%;
  }

  #web-git {
    left: 405%;
  }

  #web-dwn {
    left: 430%;
  }

  #wrk-ex {
    position: absolute;
    top: 280%;
    left: 25%;
    font-size: 380%;
    color: #77349b;
  }

  #ongc {
    position: absolute;
    top: 287%;
    left: 30%;
    font-size: 180%;
    color: #77349b;
    font-weight: bold;
  }

  #ongc-wrk {
    position: absolute;
    top: 295%;
    left: 15%;
    font-size: 150%;
    color: #190126;
  }

  #org {
    position: absolute;
    top: 312%;
    left: 35%;
    font-size: 180%;
    color: #77349b;
    font-weight: bold;
  }

  #org-wrk {
    position: absolute;
    top: 315%;
    left: 15%;
    font-size: 150%;
    color: #190126;
    height: 20%;
  }

  #cont-head {
    position: absolute;
    top: 320%;
    left: 30%;
    font-size: 380%;
    color: #77349b;
  }

  #cnt-frm {
    position: absolute;
    top: 328%;
    left: 20%;
  }

  #fnme,
  #yrmail,
  #message {
    width: 230%;
    padding: 7%;
    border: none;
    color: #77349b;
    background-color: #f0d5ff;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    resize: vertical;
  }

  #cnt-sbm {
    background-color: #77349b;
    color: #f7e7ff;
    margin-top: 5%;
    margin-left: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: x-large;
    transition-duration: 0.4s;
  }

  #cnt-sbm:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  #cnt-sbme:active {
    background-color: #4c2063;
    box-shadow: 1 5px rgba(0, 0, 0, 0.19);
    transform: translateY(4px);
  }
}
